@import url('https://fonts.googleapis.com/css2?family=Basic&family=Mulish:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings' sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --ololade: rgb(1,95,131);

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: var(--ololade);
    text-shadow: 0 0 25px var(--ololade),
                 0 0 25px var(--ololade);
    transform: scale(1.1);
}
.logo span{
    color: var(--ololade);
    font-size: 3rem;
}
.navbar a{
    font-size: 18px;
    color: white;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:hover{
    color: var(--ololade);
    border-bottom: 3px solid  var(--ololade);
    text-shadow: 0 0 25px  rgb(0, 105, 160),
                 0 0 25px  rgb(0, 105, 160);
    transform: scale(1.1);
}
.contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 9px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;
}
.contact:hover{
    background-color: var(--ololade);
    box-shadow: 0 0 25px var(--ololade);
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 45px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}
.home-content span{
    color: var(--ololade);
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 1.5em;
}
.btn-1{
    padding: 15px 28px;
    background-color: var(--ololade);
    color: white;
    border: 3px solid rgb(43, 39, 39);
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: rgb(255, 255, 255);
    color: var(--ololade);
    border: 2px solid var(--ololade);
}
.btn-2{
    padding: 15px 28px;
    background-color: rgb(0, 0, 0);
    color: var(--ololade);
    border: 3px solid var(--ololade);
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.btn-2:hover{
    background-color: rgb(255, 255, 255);
    color: var(--ololade);
}
.img-box img{
    width: 30rem;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 0 0 15px var(--ololade),
                0 0 15px var(--ololade);
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--ololade);
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.607);
    width: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black;
    font-family: "poppins", sans-serif;
}
.about-img .img-1{
    position: relative;
    width: 400px;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: 0 0 25px var(--ololade),
                0 0 25px var(--ololade);
}

.about-img .img-2{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px var(--ololade),
                0 0 25px var(--ololade);
                display: none;
}

.heading span{
    color: var(--ololade);
    font-size: 3rem;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 3.5rem;
}
.about-content h3{
    font-size: 3.5rem;
    color: white;
}
.about-content p{
    color: white;
    font-size: 17px;
    font-family: "poppins", sans-serif;
    color: rgba(185, 180, 180, 0.7);
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form span{
    color: var(--ololade);
    font-size: 2.5rem;
}
.contact-form form{
    max-width: 35em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1em;
    font-size: 18px;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid var(--ololade);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0px 8px;
    box-shadow: inset 0 0 10px var(--ololade), 0 0 10px var(--ololade);
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: var(--ololade);
    border: 2px solid var(--ololade);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--ololade);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}




@media (max-width: 844px){
    .header{
    position: fixed;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .logo{
        font-size: 17px;
    }
    .header .logo{
        position: relative;
        right: 2rem;
        top: 0.2rem;
    }
    .logo span{
        font-size: 1.5rem;
    }

    .contact{
        display: none;
    }
    /* navlinks */

    .navbar a{
        font-size: 9px;
        position: relative;
        left: 3rem;
        bottom: 1rem;
    }
    
    /* home */

    .home{
        width: 100%;
        display: block;
    }

    .home-content{
        max-width: 100%;
        position: relative;
        top: 3rem;
        right: 1.2rem;
    }
    .home-content h3{
        font-size: 30px;
        margin-top: 7rem;
    }
    .home-content h1{
        font-size: 2.5rem;
    }
    .home-content p{
        font-size: 10px;
        position: relative;
        bottom: 0.8rem;
    }
    .home-content span{
        color: var(--ololade);
    }
    .img-box img{
        width: 21rem;
        position: relative;
        top: 6rem;
        right: 1rem;
    }

    .btn-box{
        gap: 1em;
        position: relative;
        bottom: 1.5rem;
    }

    .about{
        display: block;
        height: 70vh;
    }

    .about-img .img-1{
        width: 20rem;
        display: none;
    }
    .about-img .img-2{
    position: relative;
    top: 1.5rem;
    width: 7rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--ololade),
                0 0 25px var(--ololade);
    display: block;
    }

    .heading span{
        color: var(--ololade);
        font-size: 1.5rem;
    }
    .about-content{
        position: relative;
        top: 3rem;
    }
    .about-content h2{
        font-size: 2rem;
    }
    .about-content h3{
        font-size: 1.8rem;
    }
    .about-content p{
        font-size: 10px;
    }
    /* contact */
}